version: '3.8'
networks:
  default:
    name: pc
services:
  anketa-api:
    image: anketaapi
    restart: always
    container_name: anketa-api
    hostname: anketa-api
    expose:
      - 3001
    ports:
      - 3001:3001
    environment:
      DB_HOST: tyke.db.elephantsql.com
      DB_PORT: 5432
      DB_USERNAME: yuujcnqk
      DB_PASSWORD: xx3Uk75qf1Zi3R7_APXiQJaHRTYct6HK
      DB_DATABASE: yuujcnqk
      JWT_SECRET: s3cr3t
  anketa-ui:
    image: anketa-ui
    restart: always
    expose:
      - 80
    ports:
      - 80:80
